{% schema %}
  {
  "name": "Impact Video",
  "class": "headphone-zone-blog-video-widget",
  "presets": [{"name":"Impact Video"}]
}
{% endschema %}

{% if product.metafields.hpz.impact_youtube_video_id.value.video_id.value != blank %}
  <div class="section section-blends section-full text-custom" style="--text-color: 255 255 255;">
    <div
      class="content-over-media aspect-video shadow-block rounded-lg  text-custom"
      style="--text-color: 255 255 255;"
    >
      <video-media host="youtube">
        <div
          class="youtube-thumb"
          data-id="{{ product.metafields.hpz.impact_youtube_video_id.value.video_id.value }}"
        ></div>
      </video-media>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded",
      function () {
          let div, i, v = document.getElementsByClassName("youtube-thumb");
        for (i = 0; i < v.length; i++) {
            div = document.createElement("div");
            div.setAttribute("data-id", v[i].dataset.id);
            div.innerHTML = TechnothirstyThumb(v[i].dataset.id);
            div.onclick = TechnothirstyIframe;
          v[i].appendChild(div);
        }
      }
    );
    function TechnothirstyThumb(id) {
      let thumb = '<img src="{{ product.metafields.hpz.impact_youtube_video_id.value.videothumbnail.value }}&amp;width=1280">', play = '<div class="play"></div>';
      return thumb.replace("ID", id) + play;
    }
    function TechnothirstyIframe() {
      let iframe = document.createElement("iframe");
      iframe.setAttribute("src", "https://www.youtube.com/embed/" + this.dataset.id + "?autoplay=1&modestbranding=1&mute=1&playsinline=1");
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("allowfullscreen", "1");
      this.parentNode.replaceChild(iframe, this);
    }
  </script>
{%- endif -%}
{% stylesheet %}
  .youtube-thumb {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }

  .youtube-thumb iframe,
  .youtube-thumb object,
  .youtube-thumb embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  .youtube-thumb img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto 0px auto 0px!important;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }
  @media screen and (max-width: 740px) {.youtube-thumb img {margin: auto 0px auto 0px!important;}}
  .youtube-thumb img:hover {-webkit-filter: brightness(75%);}
  .youtube-thumb .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("https://cdn.shopify.com/s/files/1/0153/8863/files/YouTube_play_button_icon__2013_2017.svg?v=1678794686") no-repeat;
    cursor: pointer;
  }
{% endstylesheet %}
