{% comment %} 
Optimization Notes: 
- Make this a section
- Make it Loop based on Number of artist 
{% endcomment %}

<div class="artist-grid">
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/The-Tapi-Project.jpg?v=1701084453" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Biju Nambiar </a></span>
      <span class="subtitle center">Keyboards & Bass Guitar, The Tapi Project </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/kz-zsn-pro-x" target="_blank" style="text-decoration:underline;">
          KZ - ZSN Pro X</a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/the-tapi-project/1248219169" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/1PaDBY2ifUow90EJUJWC9T?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCgOXCo6NUJdK062NISudm_Q" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/thetapiproject/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Kabir-Cafe.jpg?v=1701080803" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Britto Khangchian </a></span>
      <span class="subtitle center">Guitars, bass and vocalist, Kabir Cafe </span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/kabir-cafe/1447605041" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/2AWF4fUAstzXyJd01JTuS3?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCh4HyUdUyM7Na3z_Ls-LmnA" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/britto_khangchian/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/DJ-NYK.jpg?v=1701071537" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">DJ NYK </a></span>
      <span class="subtitle center">DJ & Music Producer</span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/v-moda-crossfade-2-wireless" target="_blank" style="text-decoration:underline;">
          V-MODA - Crossfade 2
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/dj-nyk/1204218759" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/6tTBTKIvckFAIzxeNAvnnF?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UC5QXEUfgYvI71vJaAIbd2Vw" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/djnyk/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Headphone-Zone-Artist-Page-DJ-Paroma.jpg?v=1753698580" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">DJ Paroma</a></span>
      <span class="subtitle center">DJ & Music Producer</span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/v-moda-crossfade-m-100-master" target="_blank" style="text-decoration:underline;">
          V-MODA - Crossfade M-100 Master
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/dj-paroma/1028946999" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/113xiBFsy2OR2VlIiSQnyA?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCrcS_O9aUXK77QOc54WV0pw" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/paromachatterjee/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Headphone-Zone-Artist-Page-frizzele.jpg?v=1753699063" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Frizzell D'souza </a></span>
      <span class="subtitle center">Singer, Songwriter </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/kz-zs10-pro" target="_blank" style="text-decoration:underline;">
          KZ - ZS10 Pro
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/frizzell-dsouza/1525135878" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/17j8WfojaUlIDrnDG7IfIQ?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCpDjYVQS411CBBw0thoB0Sw" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/frizzell.dsouza/?hl=en" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Harini-Iyer.jpg?v=1701071875" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Harini Iyer </a></span>
      <span class="subtitle center">Performing Vocalist and an Educator</span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/kz-zs10-pro" target="_blank" style="text-decoration:underline;">
          KZ - ZS10 Pro
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/harini-iyer/1159164637" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/3Wpq48rI8vokXpZ0y0XkMv?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UChPb2j1x5AuTaV3BWHnfh7g" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/hiyerama/?hl=en" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Karan-Singh.jpg?v=1704866874" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Karan Singh </a></span>
      <span class="subtitle center">Drummer, Peter Cat Recording Co </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/beyerdynamic-dt-770-pro" target="_blank" style="text-decoration:underline;">
          Beyerdynamic - DT 770 PRO
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/peter-cat-recording-co/526977614" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/41Nu7NgAj9rJxjj7JDuXrV" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>

          <a href="https://www.youtube.com/channel/UCMyWfOzSUb1qFxOLEcZGt0w" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/karrransi/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Kishore-Sodha.jpg?v=1703311457" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Kishore Sodha </a></span>
      <span class="subtitle center">Trumpet Player & Singer </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/1Custom-Junior" target="_blank" style="text-decoration:underline;">
          1Custom - Junior
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/kishore-sodha/1528932706" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://www.youtube.com/channel/UC5VthNrm41IiqQ3NW1cU9qQ" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/kishoresodha/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/KJ-Singh_d8cf0cac-b504-4822-951a-b90e5ed08950.jpg?v=1701157394" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">KJ Singh</a></span>
      <span class="subtitle center">Audio Engineer & Music Producer</span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/audeze-lcd-5" target="_blank" style="text-decoration:underline;">
          Audeze - LCD-5
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://www.youtube.com/channel/UCyZ9kVu_Yd9iBmDjRy1z-DA" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/kjpahji/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Lachhandama-Bawitlung_-_with_pc.jpg?v=1709969529" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Lachhandama Bawitlung </a></span>
      <span class="subtitle center">Guitars, Mamatips x Mamabois </span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://www.youtube.com/@thereallbking" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/happiness_is_swag/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Mithun_Raju.jpg?v=1701081403" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Mithun Raju </a></span>
      <span class="subtitle center">Guitars, Thaikkudam Bridge </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/audeze-lcd-x-music-creator-special" target="_blank" style="text-decoration:underline;">
          Audeze - LCD-X</a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/mithun-raju/1382377908" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/playlist/37i9dQZF1E4nYIDyQxqquw" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCph8mozYB6gcD229rsZGYkQ" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/mithunrajuofficial/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Mohammad-Muneem.jpg?v=1705394851" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Mohammad Muneem</a></span>
      <span class="subtitle center">Singer-songwriter & Poet, Alif </span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/alif/1253171540" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://www.youtube.com/channel/UCcu3PFszgqYQUxMpjXh8ChA" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

</div>

<div class="section   section-full bg-custom" style="--background: 255 255 255;">
  <div class="section-stack">
    <div class="press">
      <press-carousel
        id="carousel-template--16275374702780__acb7891c-007a-4dd9-a30a-12033cfd1ce8"
        class="press__list full-bleed text-center sm:unbleed"
        role="region"
      >
        <div
          id="block-template--16275374702780__acb7891c-007a-4dd9-a30a-12033cfd1ce8-template--16275374702780__acb7891c-007a-4dd9-a30a-12033cfd1ce8-quote-1"
          class="press__list-item snap-center is-selected"
          role="group"
          aria-label="Item 1 of 3"
        >
          <blockquote
            class="blockquote h3"
            reveal-on-scroll="true"
            style="opacity: 1; transform: translateY(0px);"
          >
            Headphone Zone is a place that can offer me a lot of perspective, not just with product variety but also the
            people and technicians whom I feel, are just as invested in you as you are in yourself.
          </blockquote>
          <div class="v-stack gap-2">
            <p class="press__author text-subdued">Rhys Sebastian</p>
          </div>
        </div>
        <div
          id="block-template--16275374702780__acb7891c-007a-4dd9-a30a-12033cfd1ce8-template--16275374702780__acb7891c-007a-4dd9-a30a-12033cfd1ce8-quote-2"
          class="press__list-item snap-center "
          role="group"
          aria-label="Item 2 of 3"
        >
          <blockquote class="blockquote h3" reveal-on-scroll="true">
            Fell in love with the JH audio and Audeze lineup. You feel like relistening to music again because you
            listen to stuff/elements that you didn't know existed!
          </blockquote>
          <div class="v-stack gap-2">
            <p class="press__author text-subdued">Zohran Miranda</p>
          </div>
        </div>
        <div
          id="block-template--16275374702780__acb7891c-007a-4dd9-a30a-12033cfd1ce8-template--16275374702780__acb7891c-007a-4dd9-a30a-12033cfd1ce8-quote-3"
          class="press__list-item snap-center "
          role="group"
          aria-label="Item 3 of 3"
        >
          <blockquote class="blockquote h3" reveal-on-scroll="true">
            Had a WOW moment while listening on Meze headphones and it almost gave me an emotional rush while listening
            to the music that I've created. It was damn cool!
          </blockquote>
          <div class="v-stack gap-2">
            <p class="press__author text-subdued">Hashbass</p>
          </div>
        </div>
      </press-carousel>
      <div class="press__controls">
        <button
          class="circle-button ring group"
          is="prev-button"
          aria-controls="carousel-template--16275374702780__acb7891c-007a-4dd9-a30a-12033cfd1ce8"
        >
          <span class="sr-only">Previous</span>
          <span class="animated-arrow animated-arrow--reverse"></span>
        </button>

        <page-dots
          aria-controls="carousel-template--16275374702780__acb7891c-007a-4dd9-a30a-12033cfd1ce8"
          class="page-dots"
          ><button type="button" class="tap-area" aria-current="true">
            <span class="sr-only">Go to item 1</span></button
          ><button type="button" class="tap-area" aria-current="false">
            <span class="sr-only">Go to item 2</span></button
          ><button type="button" class="tap-area" aria-current="false">
            <span class="sr-only">Go to item 3</span>
          </button></page-dots
        >

        <button
          class="circle-button ring group"
          is="next-button"
          aria-controls="carousel-template--16275374702780__acb7891c-007a-4dd9-a30a-12033cfd1ce8"
        >
          <span class="sr-only">Next</span>
          <span class="animated-arrow"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="artist-grid">

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Nilay-Singh.jpg?v=1708518856" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Nilay Singh</a></span>
      <span class="subtitle center">Beatbox & Drums, Ferry Tales & Aflatunes </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/kz-zsn-pro-x" target="_blank" style="text-decoration:underline;">
          KZ - ZSN Pro X</a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://open.spotify.com/artist/2oHwtX7ds1r67K9596g0xL" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/@AflatunesIndia" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/atom_singh/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Headphone-Zone-Artist-Page-Pratika.jpg?v=1753702027" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Pratika Prabhune</a></span>
      <span class="subtitle center">Rapper, Singer, VO Artist</span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/pratika/1506649347" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/3XTyIx2dpw9ulI4ALrny1Z" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.instagram.com/pratikaness/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Headphone-Zone-Artist-Page-Pritesh.jpg?v=1753702245" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Pritesh Prabhune</a></span>
      <span class="subtitle center">Sound Engineer, Stage Manager, Music Producer</span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/prabhuneigh/1527829048" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/6i1ZrA6AagTJGiFhGq7jfr" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.instagram.com/prabhuneigh/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Ramit-Mehra_fd81ec86-b8a4-475e-b145-258da6f2989e.jpg?v=1701082201" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Ramit Mehra </a></span>
      <span class="subtitle center">Bass Guitars, The Local Train </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/kz-zs10-pro" target="_blank" style="text-decoration:underline;">
          KZ - ZS10 Pro</a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/the-local-train/1039335606" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/7b6Ui7JVaBDEfZB9k6nHL0?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/@Thelocaltrain" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/ramitmehra/?hl=en" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Ravi_Prakash.jpg?v=1701082413" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Ravi Prakash </a></span>
      <span class="subtitle center">Guitars, Kirdaar </span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/kirdaar/1506162899" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/0BhvC5y9nWOa4SsUPTFW9e" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCWStZL7VHxre2GOlOSCraDQ" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/raviprakashmusic/?img_index=1" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>
  
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Reuel-Benedict.jpg?v=1701082778" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Reuel Benedict </a></span>
      <span class="subtitle center">Music Producer, Singer </span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://www.instagram.com/ruuhmusic/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Rhys-Sebsatian.jpg?v=1701083101" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title">
        <a class="bold">Rhys Sebastian </a>
      </span>
      <span class="subtitle center">Saxophone, Bombay Brass </span>
      <span class="spotted-center">Spotted wearing JH Audio - JH3x Pro</span>
      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/bombay-brass/1494285522" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/6eDQhQkAtGoABXSFp57kNV?si=Nokop6vmRBGPCy_RnVBD9g" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/@bombaybrass" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/saxontoast/?hl=en" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Rhythm-Shaw.jpg?v=1718188629" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title">
        <a class="bold">Rhythm Shaw </a>
      </span>
      <span class="subtitle center">Guitarist, Composer, Producer</span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/kz-zs10-pro" target="_blank" style="text-decoration:underline;">
          KZ - ZS10 Pro</a></span>
      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/rhythm-shaw/1042208011" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/15VQCxbC4rQp2ooxlkd40D" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/@RhythmShaw" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/rhythm_shaw/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Sachin-Guldagde.jpg?v=1718187069" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Sachin Guldagde</a></span>
      <span class="subtitle center">Musician, Artist, Keyboardist at Folk Masti Band</span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://open.spotify.com/artist/1CcuRxqXwRVIFXaDGjjpXU" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.instagram.com/sachinguldagde/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Saurabh-Suman_1.jpg?v=1701084148" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title">
        <a class="bold">Saurabh Suman </a>
      </span>
      <span class="subtitle center">Bass Guitars </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/simgot-ew200" target="_blank" style="text-decoration:underline;">
          SIMGOT - EW200
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://www.youtube.com/c/SaurabhSumanBass" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/saurabh.bass/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/The_Tapi_Project_2.jpg?v=1701084427" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">SWATI MINAXI </a></span>
      <span class="subtitle center">Vocalist, The Tapi Project </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/kz-zs10-pro" target="_blank" style="text-decoration:underline;">
          KZ - ZS10 Pro</a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/the-tapi-project/1248219169" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/1PaDBY2ifUow90EJUJWC9T?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCgOXCo6NUJdK062NISudm_Q" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/thetapiproject/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Vasuda-Sharma.jpg?v=1701084668" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Vasuda Sharma </a></span>
      <span class="subtitle center">Music Producer, Singer </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/audio-technica-ath-m40x" target="_blank" style="text-decoration:underline;">
          Audio-Technica - ATH-M40x
        </a></span>
      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/vasuda-sharma/403246645" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/2ED6kjY3EyIRkxM2HAbrCL?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCHvU7UkPj1jHpHbuletJzVg" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/vasudasharma/?hl=en" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Vipul-Panchal.jpg?v=1718187404" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Vipul Panchal</a></span>
      <span class="subtitle center">Founder, Singer, Songwriter at Folk Masti Music</span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://open.spotify.com/artist/5Qapk0MGIuQHLeYfMdweEl" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.instagram.com/vipul_folkmasti/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Viveik-Rajagopalan.jpg?v=1701085060" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Viveick Rajagopalan </a></span>
      <span class="subtitle center">Percussionist </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/etymotic-er2" target="_blank" style="text-decoration:underline;">
          Etymotic - ER2
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/viveick-rajagopalan/1086097185" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/4ENjjSC5AKISXNntJ3bgUN?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UC4HfKSX_OfwflHszBY0tumw" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/viveick/?hl=en" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Yuhina-Lachungpa.jpg?v=1718186633" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Yuhina Lachungpa</a></span>
      <span class="subtitle center">Singer, Songwriter, Musician</span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/yuhina/1583801058" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/41lFYbXwV282YGrfusEe8k" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>

          <a href="https://www.instagram.com/yuhinalachungpa/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Zohran-Miranda.jpg?v=1701085061" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Zohran Miranda </a></span>
      <span class="subtitle center">Music Producer, Guitarist </span>
      <span class="spotted-center">Spotted wearing JH Audio - JH13V2 Pro </span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/zohran-miranda/1511311587" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/0DugmqlndOzAoiSWlEdYv0?autoplay=true" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCKptx7kGMweuvfx7A-ubEKg" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/zohranmiranda/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
      <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Headphone-Zone-Artist-Page-Nush-Lewis.jpg?v=1754300395" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Nush Lewis</a></span>
      <span class="subtitle center">Singer, Songwriter, Harpist</span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/nush-lewis/1119577848" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/4FQDUxOZEhPd4CquShAZGk" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>

          <a href="https://www.instagram.com/nushlewis/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/subodh.jpg?v=1729671736" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Subodh</a></span>
      <span class="subtitle center">Songwriter, Bassist at Last Minute India</span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://open.spotify.com/artist/6yi4BexeHDzQeuiDzXqTcg" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://music.youtube.com/channel/UCw-nScaqOa8FedIBMW0xIqQ" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/subodh725/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/purusharth_jain.jpg?v=1729671927" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Purusharth Jain</a></span>
      <span class="subtitle center">Singer, Songwriter at Last Minute India</span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://open.spotify.com/artist/6yi4BexeHDzQeuiDzXqTcg" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://music.youtube.com/channel/UCw-nScaqOa8FedIBMW0xIqQ" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/artistpuru/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/austin_furtado.jpg?v=1729671475" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Austin Furtado</a></span>
      <span class="subtitle center">Session Guitarist, Composer, Lead Guitarist at Last Minute India</span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://open.spotify.com/artist/6yi4BexeHDzQeuiDzXqTcg" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://music.youtube.com/channel/UCw-nScaqOa8FedIBMW0xIqQ" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/austin.furtado.3/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

 <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Headphone-Zone-Airtest-Priyani-Vani-Panditt.jpg?v=1755072791" loading="lazy" class="rounded">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Priyani Vani Panditt</a></span>
      <span class="subtitle center">Singer, Performer, Vocal Coach</span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://open.spotify.com/artist/3ZjqqgZQ6iRWu3YZYISLB8" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.instagram.com/priyanivanipanditt/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>
  
  <div>

    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Anushka-Manchanda.jpg?v=1700823468" loading="lazy" class="rounded" style="display: none;">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">ANUSHKA MANCHANDA</a></span>
      <span class="subtitle center">Music Producer, Playback Singer and DJ</span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/audeze-lcd-x-music-creator-special" target="_blank" style="text-decoration:underline;">
          Audeze - LCD-X</a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/us/artist/anushka-manchanda/259027852" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/4K4N32uNO1VRSY4hB7v8kg" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/user/iamanushkamanchanda" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/anushkadisco/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Anoushka-Maskey.jpg?v=1718186302" loading="lazy" class="rounded" style="display: none;">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">ANOUSHKA MASKEY</a></span>
      <span class="subtitle center">Musician</span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/7hz-x-crinacle-zero-2" target="_blank" style="text-decoration:underline;">
          7HZ x Crinacle - Zero: 2
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/anoushka-maskey/1525767870" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/2nDgCBr8jDMiGFjTkwR6ph" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.instagram.com/anoushkamaskey/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Bruce-Lee-Mani.jpg?v=1704197102" loading="lazy" class="rounded" style="display: none;">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Bruce Lee Mani</a></span>
      <span class="subtitle center">Guitars & Vocals, Thermal and a Quarter </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/kz-zs10-pro" target="_blank" style="text-decoration:underline;">
          KZ - ZS10 Pro</a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/bruce-lee-mani/1574893078" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/1fxUZNTpvPkLpXIZxSIn2h?si=HCW5i95qTHC7XBQzGy9Tug" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCk-hhJxE8tZWLKYS57UXrLQ" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/bruceleemani/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Agam_1.jpg?v=1703050819" loading="lazy" class="rounded" style="display: none;">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Harish Sivaramakrishnan</a></span>
      <span class="subtitle center">Lead Vocalist, Agam</span>

      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/shure-aonic-215" target="_blank" style="text-decoration:underline;">
          Shure - AONIC 215</a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/agam/304101411" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/4DHXXUP4qza7DacDKVT23G?si=p-dTOv0fTIeOGrcXF5M5hw" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCF83CPFCl-5QqKD35uJ14aw" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/agamtheband/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Harshit-Misra-with-pc.jpg?v=1709969529" loading="lazy" class="rounded" style="display: none;">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Harshit Misra </a></span>
      <span class="subtitle center">Bass Guitars </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/1Custom-Junior" target="_blank" style="text-decoration:underline;">
          1Custom - Junior
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/hashbass/1510348097" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/0SFvkCtMeB2DSxgIPX6lzO?si=kyYloBpxRKOUctoKBGKuhA" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UCAGXawdA-Y0_sv4r6LPfNeA" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/hashbass/?hl=en" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Raghu-Dixit_a48bc639-e5d5-4fd5-8172-4ccf6241a9db.jpg?v=1703051418" loading="lazy" class="rounded" style="display: none;">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Raghu Dixit</a></span>
      <span class="subtitle center">Singer-Composer, Producer </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/focal-clear-mg" target="_blank" style="text-decoration:underline;">
          Focal - Clear MG
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/the-raghu-dixit-project/465679206" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/2Z4sUmRNKBGVljD3hU09z0?si=ECktkIsxSR-jcq89R-bRPg" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/channel/UC52xKkaKOxaS1Xf4MWkQwuA" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/theraghudixitproject/?hl=en" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>

  <div>
    <img src="https://cdn.shopify.com/s/files/1/0153/8863/files/Rajan-Batra.jpg?v=1701082122" loading="lazy" class="rounded" style="display: none;">
    <span class="product-card__info product-card__info--center">
      <span class="product-card__title"><a class="bold">Rajan Batra </a></span>
      <span class="subtitle center">Vocalist, The Yellow Diary </span>
      <span class="spotted-center">Spotted wearing
        <a href="https://www.headphonezone.in/products/1Custom-Junior" target="_blank" style="text-decoration:underline;">
          1Custom - Junior
        </a></span>

      <span class="icon-wrapper">
        <ul>
          <a href="https://music.apple.com/in/artist/the-yellow-diary/1375506247" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'apple-music' %}</li>
          </a>

          <a href="https://open.spotify.com/artist/6xlrAAgxcRlgCXnbg2hcFc?si=L4pDNDnBTuGpx-OdGH6DcA" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'spotify' %}</li>
          </a>
          <a href="https://www.youtube.com/@TheYellowDiary" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'youtube' %}</li>
          </a>
          <a href="https://www.instagram.com/rajanbatra13/" rel="nofollow" target="_blank">
            <li>{% render 'artist-icons' with 'instagram' %}</li>
          </a>
        </ul>
      </span>
    </span>
  </div>
  
</div>

<style>
  .icon-wrapper { padding-top: 5px; }
  .icon-wrapper ul li { margin: 5px 5px 5px; }
  .subtitle { margin-top: 0px; }
  .artist-grid { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 0%; }
  @media screen and (max-width: 812px) {
    .artist-grid { grid-template-columns: 1fr 1fr; gap: 0%; }
    .product-card__title { padding-top: 10px; }
  }
  .artist-grid div {
    background: #ffffff;
    border-radius: 8px;
    padding: 12px 10px 12px 10px;
    height: 100%;
  }
  .spotted-center {
    font-size: 11px;
    letter-spacing: 0em;
    line-height: 1.4em;
    display: block;
    margin-top: px;
    margin-bottom: 4px;
    text-align: center !important;
  }
</style>