{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
Payment offers 
----------------------------------------------------------------------------------------------------------------------

This section lives within the accordion in the 'below-buy-button.liquid'.
This section contains a bunch of drawers for the payment offers available.

Reference files : 
- emi-content.liquid : for all content regarding Payment offers

{%- endcomment -%}

<div>
  {% if product.price < 449900 or product.price == 449900 %}
    <div class="bbb-paylater-grid-5">
      <div>
        <button aria-controls="axio" aria-expanded="false" class="axio-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
          <svg id="po-axio" width="63" height="35" fill="none" xmlns="http://www.w3.org/2000/svg" xml:space="preserve-axio"><path d="M31.198 13.93a1.452 1.452 0 102.887.317 1.452 1.452 0 00-2.887-.318zM30.963 17.504l-4.47-4.469a1.166 1.166 0 10-1.697 1.598l2.849 2.871-2.85 2.76a1.2 1.2 0 101.688 1.71l4.469-4.47h.011zM33.734 20.265l-1.8-1.81-1.653 1.654 1.833 1.865a1.184 1.184 0 001.62 0 1.117 1.117 0 000-1.709zM37.711 12.667a1.196 1.196 0 00-1.195 1.184v8.514h2.38V13.85a1.184 1.184 0 00-1.185-1.184zM46.27 12.466a4.985 4.985 0 00-5.252 5.039 4.916 4.916 0 005.251 5.028 4.904 4.904 0 005.23-5.028 4.915 4.915 0 00-5.23-5.039zm0 8.067a2.815 2.815 0 01-2.816-3.028 2.793 2.793 0 012.793-3.039 2.804 2.804 0 012.816 3.039 2.826 2.826 0 01-2.816 3.017l.022.01zM19.544 13.85v.615a4.67 4.67 0 00-3.687-1.988c-2.502 0-4.357 2.111-4.357 5.027s1.855 5.028 4.402 5.028a4.671 4.671 0 003.642-1.978v1.81h2.38v-8.513a1.195 1.195 0 00-1.195-1.196 1.196 1.196 0 00-1.185 1.196zm0 3.654a2.814 2.814 0 01-2.793 3.017 2.85 2.85 0 01-2.815-3.017 2.849 2.849 0 012.815-3.016 2.815 2.815 0 012.793 3.016z" opacity=".7" fill="#444"></path></svg>
        </button>
        <x-drawer id="axio" class="drawer">
          <div>
            <h6 class="h6">Axio</h6>
            {% render 'emi-content' with 'axio' %}
          </div>
        </x-drawer>
      </div>

      <div>
        <button aria-controls="zest" aria-expanded="false" class="zest-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
          <svg id="po-zest" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.04 20" xml:space="preserve-zest"><g opacity=".7" fill="#444"><path d="M4.58 13.13c1.32-2.31 2.65-4.51 3.96-6.7.22-.33.11-.44-.11-.66C6 4.11 3.48 4.33 1.28 6.42v.11H6c-.11.21-.11.32-.22.43-1.32 2.2-2.52 4.4-3.85 6.61-.11.11-.22.22 0 .44.78.66 1.65 1.09 2.76 1.2.11 0 .33 0 .44.11h.78c0-.11.11-.11.22-.11 1.2-.22 2.2-.78 2.96-1.76H4.35c.11-.1.11-.21.23-.32zM17 7.41c.33-.44.22-.66-.33-.66h-3.41c-.33 0-.89-.11-1.09.11-.22.22-.11.78-.11 1.09-.11.33.11.33.33.33h2.2c0 .22-.11.22-.33.55-.78 1.2-1.43 2.53-2.2 3.74 0 .11-.11.22-.11.33 0 .22 0 .44.33.44h4.51c.22 0 .33-.11.33-.33v-.89c0-.33-.11-.44-.44-.44h-2.2c.55-.89.98-1.76 1.54-2.65L17 7.41zM28.77 9.17c-.22-.11-.33-.11-.55-.11-.33 0-.55-.11-.78-.22-.11-.11-.22-.11-.22-.33s.22-.22.33-.33c.33-.22.78-.22 1.2 0 .22.11.33.44.55.33.11 0 .33-.22.44-.44l.33-.33c.22-.22.22-.33 0-.44-.66-.55-1.43-.78-2.31-.66-1.09.12-1.98 1.01-1.98 1.99 0 1.09.55 1.76 1.87 1.98.33 0 .55 0 .89.11.22.11.44.11.44.44 0 .22-.22.33-.44.44-.44.11-.89 0-1.32-.11-.22-.11-.33-.44-.66-.33-.22.11-.33.44-.55.66l-.11.11c-.22.22-.11.33.11.55.66.44 1.32.66 2.2.66.22.11.44 0 .44-.11 1.09-.22 1.65-.98 1.65-1.87.01-1.11-.44-1.77-1.53-1.99zM35.92 12.14c-.11-.11-.11-.22-.11-.33-.11-.33-.22-.33-.55-.33-.55 0-.89-.22-.89-.78V8.29c0-.11 0-.22.22-.22s.55.11.66-.11c.11-.22 0-.55 0-.78v-.33c0-.11-.11-.22-.33-.22-.66-.11-.66-.11-.66-.78v-.2c0-.89 0-.89-.89-.78-.97.11-.97.11-.97 1v.44c0 .22-.11.33-.33.33-.66 0-.66 0-.66.66v.22c0 .55 0 .55.55.55.33 0 .44.11.44.44V9.7c0 .44 0 .78.22 1.2 0 1.54 1.32 2.31 2.76 2.09.76-.08.76-.19.54-.85z"/><path d="M1.71 7.19c-1.09 0-1.09 0-1.43 1.09-.55 1.87-.33 3.52.89 5.06 1.2-2.09 2.31-4.07 3.52-6.16H1.71v.01zM5.67 12.68h3.85c.22 0 .22-.11.33-.22.98-1.65.78-4.29-.55-5.83-1.1 1.98-2.3 3.85-3.63 6.05zM22.72 7.08c-1.2-.44-2.42-.33-3.41.55-1.32 1.09-1.43 3.3-.33 4.61 1.09 1.2 3.52 1.43 4.72.44.33-.22.33-.44 0-.66-.22-.11-.33-.33-.55-.55-.11-.11-.22-.11-.44 0-.44.22-.89.33-1.32.44-.55 0-1.09-.33-1.32-.78 0-.44 0-.55.33-.55h3.19c.89 0 .98 0 .89-.89-.11-1.17-.56-2.17-1.76-2.61zm-.22 2.2h-2.09c-.22 0-.22-.11-.22-.22.11-.11.11-.33.22-.44.33-.33.78-.55 1.32-.44.44.11.78.22.98.78.12.21.12.32-.21.32z"/></g></svg>
        </button>
        <x-drawer id="zest" class="drawer">
          <div>
            <h6 class="h6">Zest Money</h6>
            {% render 'emi-content' with 'zest' %}
          </div>
        </x-drawer>
      </div>
      {% if product.price > 199800 %}
        <div>
          <button aria-controls="mobikwik" aria-expanded="false" class="mobikwik-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
            <svg  id="po-mobikwik" xmlns="http://www.w3.org/2000/svg" width="63.1" height="35" xml:space="preserve-mobikwik"><path fill="#7D7D7D" d="M17.3 16.2c0 .4.2.6.6.6.4 0 .7-.3.7-.6s-.3-.6-.6-.6c-.4-.1-.7.2-.7.6z"/><path fill="#7d7d7d" d="M47.8 21c.3-.9.5-1.7.8-2.5.1-.4.2-.8.4-1.2.1-.4.5-.6.9-.5.3.1.5.5.4.9-.5 1.6-1.1 3.1-1.7 4.7-.1.4-.4.6-.8.6s-.6-.2-.7-.6c-.4-1.1-.7-2.1-1.1-3.2 0-.1-.1-.2-.1-.4-.1.3-.2.5-.2.7-.3.9-.6 1.9-.9 2.8-.2.5-.4.7-.8.7s-.6-.2-.8-.6c-.5-1.5-1.1-3.1-1.6-4.6-.2-.5.2-1 .7-.9.3.1.5.3.6.6.3 1 .7 2.1 1 3.1 0 .1.1.2.1.4.1-.2.1-.3.2-.4.3-1 .7-2.1 1-3.1.2-.5.4-.6.8-.6s.6.2.8.6c.3 1 .7 2 1 3.1-.2 0-.1.1 0 .4zM38.5 18.3c.5.6.9 1.2 1.4 1.7.4.6.9 1.1 1.3 1.7.3.4.3.8 0 1-.3.3-.8.2-1-.2l-2.4-3c-.1-.1-.1-.1-.2-.3l-.7.7c-.5.3-.7.8-.6 1.4v.7c0 .5-.3.8-.7.8-.4 0-.7-.3-.7-.8v-6.5c0-.5.3-.8.6-.8.4 0 .7.3.8.8v3.3l.3-.3 3.4-3.4c.1-.1.3-.3.5-.3.3-.1.5 0 .7.3.1.2.1.6-.1.8-.7.7-1.5 1.4-2.2 2.1-.2.2-.3.2-.4.3zM26.5 17.8c0-.1.1-.2.1-.2 1-1.2 2.7-1.1 3.7-.1 1.3 1.2 1.2 3.7-.1 4.9-1 .8-2.6.9-3.5-.2l-.2-.2c0 .2-.1.3-.1.4-.1.3-.4.5-.7.4-.3 0-.5-.3-.6-.6v-7c0-.6.4-.8.8-.7.3.1.6.3.6.8v2.5zm3.6 2v-.3c0-.7-.5-1.3-1.2-1.6-.7-.2-1.4 0-1.8.5-.6.7-.7 1.8-.1 2.6s1.7 1 2.5.4c.5-.4.6-.9.6-1.6zM55.8 20.3l-.8.8c-.1.1-.1.2-.1.3v.8c0 .4-.3.7-.6.7-.4 0-.7-.3-.7-.7v-7c0-.4.2-.7.6-.8.5-.1.8.2.8.7v4.5c.2-.1.3-.2.3-.3.7-.7 1.5-1.4 2.2-2.1l.2-.2c.3-.2.7-.2.9 0 .2.2.2.6-.1.9-.5.4-.9.9-1.4 1.3-.2.2-.3.3-.1.6.5.7 1 1.3 1.6 2 .1.1.2.3.2.4.1.3-.1.5-.3.6-.3.1-.6.1-.8-.1-.3-.4-.7-.9-1-1.3-.3-.4-.6-.7-.9-1.1zM21 16.7c1.8 0 3.2 1.3 3.2 3.1 0 1.7-1.3 3.1-3.2 3.1-1.8 0-3.2-1.4-3.2-3.1 0-1.7 1.4-3.1 3.2-3.1zm1.9 3.2c0-1.1-.8-2-1.9-2-1.1 0-1.8.8-1.8 2 0 1.1.8 1.9 1.8 1.9 1.1 0 1.9-.8 1.9-1.9zM33.5 19.8v2.3c0 .5-.2.8-.7.8-.4 0-.7-.3-.7-.8v-4.5c0-.6.5-1 1-.7.3.1.4.4.4.7v2.2zM51 19.8v-2.3c0-.4.3-.7.7-.7.4 0 .7.3.7.7v4.7c0 .4-.3.7-.7.7-.4 0-.6-.3-.6-.7-.1-.8-.1-1.6-.1-2.4zM51.7 15.9c-.5 0-.8-.3-.8-.7 0-.4.3-.7.8-.7s.7.3.7.7c0 .5-.3.7-.7.7zM32.8 15.9c-.5 0-.8-.2-.8-.7 0-.4.3-.7.7-.7.5 0 .8.3.8.7.1.5-.2.7-.7.7zM60.2 16.9c0 .3-.1.5-.1.7H60c0-.4 0-.8-.1-1.1h.3c.1.1.2.3.4.5.1-.2.2-.3.3-.5 0-.1.1-.1.2-.1s.1.1.1.2v.8c0 .1-.1.1-.1.2 0-.1-.1-.1-.1-.2v-.5l-.4.4-.4-.4zM58.5 16.5c.3-.3 1-.3 1.2 0-.6 0-.4.4-.4.8 0 .1 0 .2-.1.3h-.1c0-.1-.1-.1-.1-.2v-.3c0-.3.1-.7-.5-.6z"/><path fill="none" d="m15.6 12.6-.9 9.6c.5 0 .6 0 .7-.5 0-.2.1-.4.1-.6.1-1.1.2-2.2.4-3.3.1-.9.2-1.9.3-2.8.1-.6.1-1.2.2-1.8-.2-.3-.4-.5-.8-.6z"/><path fill="none" d="m15.6 12.6-.9 9.6c.5 0 .6 0 .7-.5 0-.2.1-.4.1-.6.1-1.1.2-2.2.4-3.3.1-.9.2-1.9.3-2.8.1-.6.1-1.2.2-1.8-.2-.3-.4-.5-.8-.6z"/><path fill="#7D7D7D" d="M17.9 16.8c-.4 0-.6-.3-.6-.6 0-.4.3-.6.6-.6s.6.3.6.6c.1.3-.2.6-.6.6z"/><path fill="none" d="M17.7 16.1c0 .1.2.2.3.3.1-.1.3-.2.3-.3 0-.1-.1-.3-.3-.5-.2.3-.3.4-.3.5zM15.6 12.6l-.9 9.6c.5 0 .6 0 .7-.5 0-.2.1-.4.1-.6.1-1.1.2-2.2.4-3.3.1-.9.2-1.9.3-2.8.1-.6.1-1.2.2-1.8-.2-.3-.4-.5-.8-.6z"/><path fill="#7D7D7D" d="M17.7 16.1c0 .1.2.2.3.3.1-.1.3-.2.3-.3 0-.1-.1-.3-.3-.5-.2.3-.3.4-.3.5z"/><path fill="#7d7d7d" d="M18.3 15.1c-.3 0-.5.1-.8.2h-.6V15c.1-.6.1-1.2.1-1.8 0-.5-.2-.8-.7-.8h-.7c0-.1 0-.2-.1-.4 0-.3-.2-.4-.5-.4h-.3c-1.6.3-3.2.6-4.8.8-.4.1-.4.2-.4.5-.1 1.8.2 3.7-.2 5.6.3-.5.5-.9.7-1.3.6-1.1 1.2-2.3 1.8-3.4.2-.4.5-.6.9-.6.5 0 .8.4.8 1V21c-.1.5-.6.8-1.1.6-.4-.1-.6-.4-.6-.8v-3.4c-.1.2-.1.3-.2.3-.6 1.1-1.2 2.3-1.8 3.4-.1.2-.3.5-.5.7-.2.3-.6.3-.9.2-.4-.1-.6-.4-.6-.9v-5.7c-.1.1-.2.2-.2.3-1.2 2.2-2.3 4.5-3.5 6.7-.1.4-.2.6-.5.6s-.6-.1-.8-.4c-.2-.3-.2-.6 0-.9 1.8-3.2 3.5-6.5 5.3-9.7.3-.6.6-.7 1.3-.5-.6-.5-1.1-.4-1.4.2-.2.3-.4.7-.5 1-.1.2-.3.3-.5.3s-.4 0-.6.1c-1.2.2-2.3.4-3.5.5-.5.1-.7.4-.7.9V23c0 .6.2.8.8.8h10.7c.3 0 .6-.1.7-.4.1-.3.3-.4.6-.4h.2c.5 0 .6-.1.7-.5l.3-2.4c.1-.7.1-1.4.2-2.1 0-.2.1-.3.3-.3.4-.1.9-.2 1.3-.4 1-.4.9-.7.9-1.6.2-.5-.1-.7-.6-.6zm-2.3 0c-.1.9-.2 1.9-.3 2.8-.1 1.1-.2 2.2-.4 3.3 0 .2 0 .4-.1.6-.1.4-.1.5-.7.5l.9-9.6c.4.1.6.3.6.7.2.5.1 1.1 0 1.7zm1.9 1.7c-.4 0-.6-.3-.6-.6 0-.4.3-.6.6-.6s.6.3.6.6c.1.3-.2.6-.6.6z"/><path fill="#FFF" d="M18 15.6c-.4 0-.6.3-.6.6 0 .4.2.6.6.6.4 0 .7-.3.7-.6-.1-.3-.4-.6-.7-.6zm-.1.9c-.1-.1-.3-.2-.3-.3 0-.1.2-.2.3-.4.1.2.3.3.3.5 0 0-.2.1-.3.2z"/><path fill="#7d7d7d" d="M17.7 16.1c0 .1.2.2.3.3.1-.1.3-.2.3-.3 0-.1-.1-.3-.3-.5-.2.3-.3.4-.3.5z"/></svg>
          </button>
          <x-drawer id="mobikwik" class="drawer">
            <div>
              <h6 class="h6">MobiKwik</h6>
                {% render 'emi-content' with 'mobikwik' %}
            </div>
          </x-drawer>
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}

  {% if product.price >= 6000000 %}
    <div class="bbb-paylater-grid-5">
      <div>
        <button aria-controls="axio" aria-expanded="false" class="axio-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
          <svg id="poo-axio" width="63" height="35" fill="none" xmlns="http://www.w3.org/2000/svg" xml:space="preserve-axio"><path d="M31.198 13.93a1.452 1.452 0 102.887.317 1.452 1.452 0 00-2.887-.318zM30.963 17.504l-4.47-4.469a1.166 1.166 0 10-1.697 1.598l2.849 2.871-2.85 2.76a1.2 1.2 0 101.688 1.71l4.469-4.47h.011zM33.734 20.265l-1.8-1.81-1.653 1.654 1.833 1.865a1.184 1.184 0 001.62 0 1.117 1.117 0 000-1.709zM37.711 12.667a1.196 1.196 0 00-1.195 1.184v8.514h2.38V13.85a1.184 1.184 0 00-1.185-1.184zM46.27 12.466a4.985 4.985 0 00-5.252 5.039 4.916 4.916 0 005.251 5.028 4.904 4.904 0 005.23-5.028 4.915 4.915 0 00-5.23-5.039zm0 8.067a2.815 2.815 0 01-2.816-3.028 2.793 2.793 0 012.793-3.039 2.804 2.804 0 012.816 3.039 2.826 2.826 0 01-2.816 3.017l.022.01zM19.544 13.85v.615a4.67 4.67 0 00-3.687-1.988c-2.502 0-4.357 2.111-4.357 5.027s1.855 5.028 4.402 5.028a4.671 4.671 0 003.642-1.978v1.81h2.38v-8.513a1.195 1.195 0 00-1.195-1.196 1.196 1.196 0 00-1.185 1.196zm0 3.654a2.814 2.814 0 01-2.793 3.017 2.85 2.85 0 01-2.815-3.017 2.849 2.849 0 012.815-3.016 2.815 2.815 0 012.793 3.016z" opacity=".7" fill="#444"></path></svg>
        </button>
        <x-drawer id="axio" class="drawer">
          <div>
            <h6 class="h6">Axio</h6>
            {% render 'emi-content' with 'axio' %}
          </div>
        </x-drawer>
      </div>

      <div>
        <button aria-controls="zest" aria-expanded="false" class="zest-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
          <svg id="po-zest" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.04 20" xml:space="preserve-zest"><g opacity=".7" fill="#444"><path d="M4.58 13.13c1.32-2.31 2.65-4.51 3.96-6.7.22-.33.11-.44-.11-.66C6 4.11 3.48 4.33 1.28 6.42v.11H6c-.11.21-.11.32-.22.43-1.32 2.2-2.52 4.4-3.85 6.61-.11.11-.22.22 0 .44.78.66 1.65 1.09 2.76 1.2.11 0 .33 0 .44.11h.78c0-.11.11-.11.22-.11 1.2-.22 2.2-.78 2.96-1.76H4.35c.11-.1.11-.21.23-.32zM17 7.41c.33-.44.22-.66-.33-.66h-3.41c-.33 0-.89-.11-1.09.11-.22.22-.11.78-.11 1.09-.11.33.11.33.33.33h2.2c0 .22-.11.22-.33.55-.78 1.2-1.43 2.53-2.2 3.74 0 .11-.11.22-.11.33 0 .22 0 .44.33.44h4.51c.22 0 .33-.11.33-.33v-.89c0-.33-.11-.44-.44-.44h-2.2c.55-.89.98-1.76 1.54-2.65L17 7.41zM28.77 9.17c-.22-.11-.33-.11-.55-.11-.33 0-.55-.11-.78-.22-.11-.11-.22-.11-.22-.33s.22-.22.33-.33c.33-.22.78-.22 1.2 0 .22.11.33.44.55.33.11 0 .33-.22.44-.44l.33-.33c.22-.22.22-.33 0-.44-.66-.55-1.43-.78-2.31-.66-1.09.12-1.98 1.01-1.98 1.99 0 1.09.55 1.76 1.87 1.98.33 0 .55 0 .89.11.22.11.44.11.44.44 0 .22-.22.33-.44.44-.44.11-.89 0-1.32-.11-.22-.11-.33-.44-.66-.33-.22.11-.33.44-.55.66l-.11.11c-.22.22-.11.33.11.55.66.44 1.32.66 2.2.66.22.11.44 0 .44-.11 1.09-.22 1.65-.98 1.65-1.87.01-1.11-.44-1.77-1.53-1.99zM35.92 12.14c-.11-.11-.11-.22-.11-.33-.11-.33-.22-.33-.55-.33-.55 0-.89-.22-.89-.78V8.29c0-.11 0-.22.22-.22s.55.11.66-.11c.11-.22 0-.55 0-.78v-.33c0-.11-.11-.22-.33-.22-.66-.11-.66-.11-.66-.78v-.2c0-.89 0-.89-.89-.78-.97.11-.97.11-.97 1v.44c0 .22-.11.33-.33.33-.66 0-.66 0-.66.66v.22c0 .55 0 .55.55.55.33 0 .44.11.44.44V9.7c0 .44 0 .78.22 1.2 0 1.54 1.32 2.31 2.76 2.09.76-.08.76-.19.54-.85z"/><path d="M1.71 7.19c-1.09 0-1.09 0-1.43 1.09-.55 1.87-.33 3.52.89 5.06 1.2-2.09 2.31-4.07 3.52-6.16H1.71v.01zM5.67 12.68h3.85c.22 0 .22-.11.33-.22.98-1.65.78-4.29-.55-5.83-1.1 1.98-2.3 3.85-3.63 6.05zM22.72 7.08c-1.2-.44-2.42-.33-3.41.55-1.32 1.09-1.43 3.3-.33 4.61 1.09 1.2 3.52 1.43 4.72.44.33-.22.33-.44 0-.66-.22-.11-.33-.33-.55-.55-.11-.11-.22-.11-.44 0-.44.22-.89.33-1.32.44-.55 0-1.09-.33-1.32-.78 0-.44 0-.55.33-.55h3.19c.89 0 .98 0 .89-.89-.11-1.17-.56-2.17-1.76-2.61zm-.22 2.2h-2.09c-.22 0-.22-.11-.22-.22.11-.11.11-.33.22-.44.33-.33.78-.55 1.32-.44.44.11.78.22.98.78.12.21.12.32-.21.32z"/></g></svg>
        </button>
        <x-drawer id="zest" class="drawer">
          <div>
            <h6 class="h6">Zest Money</h6>
            {% render 'emi-content' with 'zest' %}
          </div>
        </x-drawer>
      </div>
      {% if product.price > 199800 %}
        <div>
          <button aria-controls="mobikwik" aria-expanded="false" class="mobikwik-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
            <svg id="po-mobikwik" xmlns="http://www.w3.org/2000/svg" width="63.1" height="35" xml:space="preserve-mobikwik"><path fill="#7D7D7D" d="M17.3 16.2c0 .4.2.6.6.6.4 0 .7-.3.7-.6s-.3-.6-.6-.6c-.4-.1-.7.2-.7.6z"/><path fill="#7d7d7d" d="M47.8 21c.3-.9.5-1.7.8-2.5.1-.4.2-.8.4-1.2.1-.4.5-.6.9-.5.3.1.5.5.4.9-.5 1.6-1.1 3.1-1.7 4.7-.1.4-.4.6-.8.6s-.6-.2-.7-.6c-.4-1.1-.7-2.1-1.1-3.2 0-.1-.1-.2-.1-.4-.1.3-.2.5-.2.7-.3.9-.6 1.9-.9 2.8-.2.5-.4.7-.8.7s-.6-.2-.8-.6c-.5-1.5-1.1-3.1-1.6-4.6-.2-.5.2-1 .7-.9.3.1.5.3.6.6.3 1 .7 2.1 1 3.1 0 .1.1.2.1.4.1-.2.1-.3.2-.4.3-1 .7-2.1 1-3.1.2-.5.4-.6.8-.6s.6.2.8.6c.3 1 .7 2 1 3.1-.2 0-.1.1 0 .4zM38.5 18.3c.5.6.9 1.2 1.4 1.7.4.6.9 1.1 1.3 1.7.3.4.3.8 0 1-.3.3-.8.2-1-.2l-2.4-3c-.1-.1-.1-.1-.2-.3l-.7.7c-.5.3-.7.8-.6 1.4v.7c0 .5-.3.8-.7.8-.4 0-.7-.3-.7-.8v-6.5c0-.5.3-.8.6-.8.4 0 .7.3.8.8v3.3l.3-.3 3.4-3.4c.1-.1.3-.3.5-.3.3-.1.5 0 .7.3.1.2.1.6-.1.8-.7.7-1.5 1.4-2.2 2.1-.2.2-.3.2-.4.3zM26.5 17.8c0-.1.1-.2.1-.2 1-1.2 2.7-1.1 3.7-.1 1.3 1.2 1.2 3.7-.1 4.9-1 .8-2.6.9-3.5-.2l-.2-.2c0 .2-.1.3-.1.4-.1.3-.4.5-.7.4-.3 0-.5-.3-.6-.6v-7c0-.6.4-.8.8-.7.3.1.6.3.6.8v2.5zm3.6 2v-.3c0-.7-.5-1.3-1.2-1.6-.7-.2-1.4 0-1.8.5-.6.7-.7 1.8-.1 2.6s1.7 1 2.5.4c.5-.4.6-.9.6-1.6zM55.8 20.3l-.8.8c-.1.1-.1.2-.1.3v.8c0 .4-.3.7-.6.7-.4 0-.7-.3-.7-.7v-7c0-.4.2-.7.6-.8.5-.1.8.2.8.7v4.5c.2-.1.3-.2.3-.3.7-.7 1.5-1.4 2.2-2.1l.2-.2c.3-.2.7-.2.9 0 .2.2.2.6-.1.9-.5.4-.9.9-1.4 1.3-.2.2-.3.3-.1.6.5.7 1 1.3 1.6 2 .1.1.2.3.2.4.1.3-.1.5-.3.6-.3.1-.6.1-.8-.1-.3-.4-.7-.9-1-1.3-.3-.4-.6-.7-.9-1.1zM21 16.7c1.8 0 3.2 1.3 3.2 3.1 0 1.7-1.3 3.1-3.2 3.1-1.8 0-3.2-1.4-3.2-3.1 0-1.7 1.4-3.1 3.2-3.1zm1.9 3.2c0-1.1-.8-2-1.9-2-1.1 0-1.8.8-1.8 2 0 1.1.8 1.9 1.8 1.9 1.1 0 1.9-.8 1.9-1.9zM33.5 19.8v2.3c0 .5-.2.8-.7.8-.4 0-.7-.3-.7-.8v-4.5c0-.6.5-1 1-.7.3.1.4.4.4.7v2.2zM51 19.8v-2.3c0-.4.3-.7.7-.7.4 0 .7.3.7.7v4.7c0 .4-.3.7-.7.7-.4 0-.6-.3-.6-.7-.1-.8-.1-1.6-.1-2.4zM51.7 15.9c-.5 0-.8-.3-.8-.7 0-.4.3-.7.8-.7s.7.3.7.7c0 .5-.3.7-.7.7zM32.8 15.9c-.5 0-.8-.2-.8-.7 0-.4.3-.7.7-.7.5 0 .8.3.8.7.1.5-.2.7-.7.7zM60.2 16.9c0 .3-.1.5-.1.7H60c0-.4 0-.8-.1-1.1h.3c.1.1.2.3.4.5.1-.2.2-.3.3-.5 0-.1.1-.1.2-.1s.1.1.1.2v.8c0 .1-.1.1-.1.2 0-.1-.1-.1-.1-.2v-.5l-.4.4-.4-.4zM58.5 16.5c.3-.3 1-.3 1.2 0-.6 0-.4.4-.4.8 0 .1 0 .2-.1.3h-.1c0-.1-.1-.1-.1-.2v-.3c0-.3.1-.7-.5-.6z"/><path fill="none" d="m15.6 12.6-.9 9.6c.5 0 .6 0 .7-.5 0-.2.1-.4.1-.6.1-1.1.2-2.2.4-3.3.1-.9.2-1.9.3-2.8.1-.6.1-1.2.2-1.8-.2-.3-.4-.5-.8-.6z"/><path fill="none" d="m15.6 12.6-.9 9.6c.5 0 .6 0 .7-.5 0-.2.1-.4.1-.6.1-1.1.2-2.2.4-3.3.1-.9.2-1.9.3-2.8.1-.6.1-1.2.2-1.8-.2-.3-.4-.5-.8-.6z"/><path fill="#7D7D7D" d="M17.9 16.8c-.4 0-.6-.3-.6-.6 0-.4.3-.6.6-.6s.6.3.6.6c.1.3-.2.6-.6.6z"/><path fill="none" d="M17.7 16.1c0 .1.2.2.3.3.1-.1.3-.2.3-.3 0-.1-.1-.3-.3-.5-.2.3-.3.4-.3.5zM15.6 12.6l-.9 9.6c.5 0 .6 0 .7-.5 0-.2.1-.4.1-.6.1-1.1.2-2.2.4-3.3.1-.9.2-1.9.3-2.8.1-.6.1-1.2.2-1.8-.2-.3-.4-.5-.8-.6z"/><path fill="#7D7D7D" d="M17.7 16.1c0 .1.2.2.3.3.1-.1.3-.2.3-.3 0-.1-.1-.3-.3-.5-.2.3-.3.4-.3.5z"/><path fill="#7d7d7d" d="M18.3 15.1c-.3 0-.5.1-.8.2h-.6V15c.1-.6.1-1.2.1-1.8 0-.5-.2-.8-.7-.8h-.7c0-.1 0-.2-.1-.4 0-.3-.2-.4-.5-.4h-.3c-1.6.3-3.2.6-4.8.8-.4.1-.4.2-.4.5-.1 1.8.2 3.7-.2 5.6.3-.5.5-.9.7-1.3.6-1.1 1.2-2.3 1.8-3.4.2-.4.5-.6.9-.6.5 0 .8.4.8 1V21c-.1.5-.6.8-1.1.6-.4-.1-.6-.4-.6-.8v-3.4c-.1.2-.1.3-.2.3-.6 1.1-1.2 2.3-1.8 3.4-.1.2-.3.5-.5.7-.2.3-.6.3-.9.2-.4-.1-.6-.4-.6-.9v-5.7c-.1.1-.2.2-.2.3-1.2 2.2-2.3 4.5-3.5 6.7-.1.4-.2.6-.5.6s-.6-.1-.8-.4c-.2-.3-.2-.6 0-.9 1.8-3.2 3.5-6.5 5.3-9.7.3-.6.6-.7 1.3-.5-.6-.5-1.1-.4-1.4.2-.2.3-.4.7-.5 1-.1.2-.3.3-.5.3s-.4 0-.6.1c-1.2.2-2.3.4-3.5.5-.5.1-.7.4-.7.9V23c0 .6.2.8.8.8h10.7c.3 0 .6-.1.7-.4.1-.3.3-.4.6-.4h.2c.5 0 .6-.1.7-.5l.3-2.4c.1-.7.1-1.4.2-2.1 0-.2.1-.3.3-.3.4-.1.9-.2 1.3-.4 1-.4.9-.7.9-1.6.2-.5-.1-.7-.6-.6zm-2.3 0c-.1.9-.2 1.9-.3 2.8-.1 1.1-.2 2.2-.4 3.3 0 .2 0 .4-.1.6-.1.4-.1.5-.7.5l.9-9.6c.4.1.6.3.6.7.2.5.1 1.1 0 1.7zm1.9 1.7c-.4 0-.6-.3-.6-.6 0-.4.3-.6.6-.6s.6.3.6.6c.1.3-.2.6-.6.6z"/><path fill="#FFF" d="M18 15.6c-.4 0-.6.3-.6.6 0 .4.2.6.6.6.4 0 .7-.3.7-.6-.1-.3-.4-.6-.7-.6zm-.1.9c-.1-.1-.3-.2-.3-.3 0-.1.2-.2.3-.4.1.2.3.3.3.5 0 0-.2.1-.3.2z"/><path fill="#7d7d7d" d="M17.7 16.1c0 .1.2.2.3.3.1-.1.3-.2.3-.3 0-.1-.1-.3-.3-.5-.2.3-.3.4-.3.5z"/></svg>
          </button>

          <x-drawer id="mobikwik" class="drawer">
            <div>
              <h6 class="h6">MobiKwik</h6>
                {% render 'emi-content' with 'mobikwik' %}
            </div>
          </x-drawer>
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}

  {% if product.price >= 450000 and product.price < 6000000 %}
    <div class="bbb-paylater-grid">
      {% if product.tags contains 'sony-cashback' %}
      <div>
     <button aria-controls="sony-cb" aria-expanded="false" class="mobikwik-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="63px" height="35px" viewBox="0 0 120 70" enable-background="new 0 0 120 70" xml:space="preserve">
              <path fill="#4C4846" d="M49.9,41.2c-2.5,0-4.9-0.7-6.5-2.2c-1.1-1-1.7-2.5-1.7-4c0-1.5,0.6-2.9,1.7-4c1.5-1.4,4.1-2.2,6.5-2.2  c2.7,0,4.8,0.6,6.6,2.2c1.1,1,1.7,2.5,1.7,4c0,1.5-0.6,3-1.7,4C54.8,40.4,52.4,41.2,49.9,41.2v-1.7c1.4,0,2.6-0.4,3.4-1.4  c0.9-0.9,1.3-1.9,1.3-3.2c0-1.3-0.4-2.4-1.3-3.2c-0.9-0.8-2.2-1.4-3.4-1.4c-1.4,0-2.6,0.4-3.4,1.4c-0.8,0.8-1.3,2-1.3,3.2  c0,1.2,0.4,2.4,1.3,3.2c0.9,0.8,2.2,1.4,3.4,1.4V41.2z M31.4,28.8c-1.4,0-2.9,0.3-4.2,0.8C26,30.1,25,31,25,32.4  c0,1.3,0.8,2.1,0.8,2.1c0.3,0.3,0.9,0.9,2.4,1.1c0.6,0.2,2.1,0.3,3.5,0.5c1.4,0.2,2.8,0.3,3.3,0.4c0.4,0.1,1.2,0.3,1.2,1  c0,0.8-0.8,1-0.9,1.1c-0.1,0.1-1,0.4-2.8,0.4c-1.3,0-2.8-0.3-3.3-0.5c-0.6-0.2-1.3-0.5-1.9-1.3c-0.2-0.2-0.4-0.7-0.4-1.1h-1.6v4.4  h1.7v-0.3c0-0.1,0.1-0.4,0.4-0.2c0.8,0.3,1.7,0.6,2.5,0.8c0.9,0.2,1.5,0.4,2.6,0.4c1.8,0,2.8-0.3,3.4-0.4c0.6-0.2,1.5-0.5,2.1-1  c0.3-0.3,1-1,1-2.3c0-0.8-0.3-1.7-0.9-2.3c-0.3-0.3-0.7-0.5-1-0.7c-0.4-0.2-0.9-0.3-1.4-0.4c-0.9-0.2-2.9-0.4-3.8-0.5  c-1-0.1-2.7-0.3-3.4-0.4c-0.2-0.2-0.6-0.3-0.6-0.8c0-0.4,0.2-0.6,0.5-0.9c0.6-0.3,1.8-0.6,3.1-0.6c1.6,0,2.8,0.4,3.7,0.7  c0.3,0.1,0.6,0.3,0.9,0.5c0.3,0.3,0.7,0.7,0.8,1.5h1.5v-3.8H37v0.4c0,0.2-0.2,0.3-0.4,0.2C35.7,29.6,33.8,28.8,31.4,28.8z   M65.3,29.5l7.5,6.8l-0.1-4.5c0-0.6-0.1-0.8-0.7-0.8h-1.5v-1.5H77v1.4h-1.4c-0.6,0-0.7,0.2-0.7,0.8l0.1,8.7h-2.2l-8.7-7.7v5.5  c0,0.6,0,0.9,0.6,0.9h1.6v1.4h-6.4v-1.4h1.5c0.5,0,0.5-0.5,0.5-0.9v-6.5c0-0.4-0.1-0.9-0.9-0.9h-1.1v-1.4H65.3z M84.3,39.1  c0.1,0,0.3,0,0.3,0c0.1,0,0.3-0.2,0.3-0.3c0-0.1,0-0.3,0-0.3v-2.2c0-0.1,0-0.1-0.1-0.2c-0.1-0.1-4-4.5-4.1-4.7  c-0.2-0.3-0.6-0.6-1.1-0.6h-1.4v-1.3h7.5v1.4h-0.9c-0.2,0-0.3,0.2-0.2,0.4l2.5,3.1c0,0,0,0,0.1,0l2.6-3.1c0.1-0.1,0.1-0.3-0.1-0.3  c-0.1,0-0.1-0.1-0.2-0.1h-0.9v-1.4H95v1.4h-1.4c-0.5,0-0.7,0.1-1,0.5c-0.2,0.2-4.1,4.6-4.2,4.7c-0.1,0.1-0.1,0.2-0.1,0.2v2.2v0.3  c0.1,0.1,0.2,0.2,0.3,0.3c0.1,0,0.4,0,0.4,0h1.5v1.4h-7.5v-1.4H84.3z"/>
            </svg>
          </button>
          <x-drawer id="sony-cb" class="drawer">
            <div>
                {% render 'emi-content' with 'sony-cb' %}
            </div>
          </x-drawer>
        </div>
   {%- endif -%}
    
      <div>
        <button aria-controls="axio" aria-expanded="false" class="axio-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
          <svg id="po-axio" width="63" height="35" fill="none" xmlns="http://www.w3.org/2000/svg" xml:space="preserve-axio"><path d="M31.198 13.93a1.452 1.452 0 102.887.317 1.452 1.452 0 00-2.887-.318zM30.963 17.504l-4.47-4.469a1.166 1.166 0 10-1.697 1.598l2.849 2.871-2.85 2.76a1.2 1.2 0 101.688 1.71l4.469-4.47h.011zM33.734 20.265l-1.8-1.81-1.653 1.654 1.833 1.865a1.184 1.184 0 001.62 0 1.117 1.117 0 000-1.709zM37.711 12.667a1.196 1.196 0 00-1.195 1.184v8.514h2.38V13.85a1.184 1.184 0 00-1.185-1.184zM46.27 12.466a4.985 4.985 0 00-5.252 5.039 4.916 4.916 0 005.251 5.028 4.904 4.904 0 005.23-5.028 4.915 4.915 0 00-5.23-5.039zm0 8.067a2.815 2.815 0 01-2.816-3.028 2.793 2.793 0 012.793-3.039 2.804 2.804 0 012.816 3.039 2.826 2.826 0 01-2.816 3.017l.022.01zM19.544 13.85v.615a4.67 4.67 0 00-3.687-1.988c-2.502 0-4.357 2.111-4.357 5.027s1.855 5.028 4.402 5.028a4.671 4.671 0 003.642-1.978v1.81h2.38v-8.513a1.195 1.195 0 00-1.195-1.196 1.196 1.196 0 00-1.185 1.196zm0 3.654a2.814 2.814 0 01-2.793 3.017 2.85 2.85 0 01-2.815-3.017 2.849 2.849 0 012.815-3.016 2.815 2.815 0 012.793 3.016z" opacity=".7" fill="#444"></path></svg>
        </button>
        <x-drawer id="axio" class="drawer">
          <div>
            <h6 class="h6">Axio</h6>
            {% render 'emi-content' with 'axio' %}
          </div>
        </x-drawer>
      </div>

      <div>
        <button aria-controls="bajaj" aria-expanded="false" class="bajaj-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
          <svg id="po-bajaj" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.04 20"><path fill="#444" fill-opacity=".7" fill-rule="evenodd" d="M15.92 3H3v12.92h12.92V3ZM3.65 13.52v1.74h1.54c.35 0 .83-.04.83-.47 0-.19-.13-.33-.38-.41a.45.45 0 0 0 .38-.4c0-.46-.51-.46-.83-.46H3.65Zm.62 1.01h.97a.19.19 0 1 1 0 .37h-.63a.219.219 0 0 0-.18.1l-.16.26v-.73Zm0 0v-.64h.97c.12 0 .21.05.21.14 0 .09-.09.14-.21.14h-.63a.21.21 0 0 0-.18.09l-.16.27Zm2.41.74.76-1.33.3.65h-.43a.219.219 0 0 0-.18.1l-.16.26h1l.18.31h.67l-1.07-1.74h-.73l-1.06 1.75h.72Zm5.349-1.278-.76 1.278h-.67l1.07-1.75h.72l1.07 1.74h-.69l-.17-.31h-1l.16-.26a.22.22 0 0 1 .18-.1h.43l-.34-.598Zm-1.9.758c0 .13-.11.19-.23.19l-1.12-.04.16.27a.22.22 0 0 0 .19.09h.99c.32 0 .57-.12.57-.5v-1.24h-.56v1.23Zm4.62 0c0 .13-.11.19-.23.19l-1.11-.04.17.27a.21.21 0 0 0 .18.09h.94c.32 0 .57-.12.57-.5v-1.24h-.52v1.23ZM11.17 9.13a1 1 0 0 1-.5.331.94.94 0 0 1 .72 1.02c0 .9-.91 1-1.55 1h-.79v-.62a.29.29 0 0 1 .29-.33h.71a.23.23 0 0 0 .22-.13l.25-.49H9.35c-.3.03-.3.34-.3.34v-.81a.34.34 0 0 1 .31-.38h.88a.24.24 0 0 0 .23-.11l.27-.51H8.33v3h-.81V7.57h2.32c.55 0 1.55.08 1.55 1a1 1 0 0 1-.22.559Zm13.501-.21-.92 1.54h-.8l1.32-2h.87l1.24 2h-.8l-.21-.37h-1.19l.2-.32a.3.3 0 0 1 .22-.12h.51l-.44-.73Zm-5.2-.5h.68v2.09h-.68V8.42Zm2.58 0v1.17l-.81-1.17h-.8v2.08h.68V9.35l.8 1.15h.81V8.42h-.68Zm6.16 0v1.17l-.81-1.17h-.8v2.08h.68V9.35l.8 1.15h.81V8.42h-.68Zm-11 .04v2h.68v-.8h.59a.18.18 0 0 0 .17-.09l.21-.34h-1V9.1a.25.25 0 0 1 .24-.25h.72c.15 0 .19-.08.19-.08l.26-.31h-2.06Zm15.06.65v.12h1l-.21.34a.19.19 0 0 1-.18.09h-.61v.24a.26.26 0 0 0 .24.17h1v.39h-2v-2h2v.43h-1a.26.26 0 0 0-.24.22Zm-3.08.81a1.439 1.439 0 0 1-.08-.46 1.438 1.438 0 0 1 .34-.83 1 1 0 0 1 .65-.17h1.31l-.14.27a.24.24 0 0 1-.08.17.17.17 0 0 1-.1 0h-.43c-.33 0-.84.03-.84.6 0 .6.51.6.84.6h.43a.17.17 0 0 1 .1 0 .301.301 0 0 1 .08.08l.11.28h-1.31a1 1 0 0 1-.65-.17 1.278 1.278 0 0 1-.23-.37Z" clip-rule="evenodd"/></svg>
        </button>
        <x-drawer id="bajaj" class="drawer">
          <div>
            <h6 class="h6">Bajaj Finance</h6>
            {% render 'emi-content' with 'bajaj' %}
          </div>
        </x-drawer>
      </div>

      <div>
        <button aria-controls="zest" aria-expanded="false" class="zest-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
          <svg id="po-zest" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.04 20" xml:space="preserve-zest"><g opacity=".7" fill="#444"><path d="M4.58 13.13c1.32-2.31 2.65-4.51 3.96-6.7.22-.33.11-.44-.11-.66C6 4.11 3.48 4.33 1.28 6.42v.11H6c-.11.21-.11.32-.22.43-1.32 2.2-2.52 4.4-3.85 6.61-.11.11-.22.22 0 .44.78.66 1.65 1.09 2.76 1.2.11 0 .33 0 .44.11h.78c0-.11.11-.11.22-.11 1.2-.22 2.2-.78 2.96-1.76H4.35c.11-.1.11-.21.23-.32zM17 7.41c.33-.44.22-.66-.33-.66h-3.41c-.33 0-.89-.11-1.09.11-.22.22-.11.78-.11 1.09-.11.33.11.33.33.33h2.2c0 .22-.11.22-.33.55-.78 1.2-1.43 2.53-2.2 3.74 0 .11-.11.22-.11.33 0 .22 0 .44.33.44h4.51c.22 0 .33-.11.33-.33v-.89c0-.33-.11-.44-.44-.44h-2.2c.55-.89.98-1.76 1.54-2.65L17 7.41zM28.77 9.17c-.22-.11-.33-.11-.55-.11-.33 0-.55-.11-.78-.22-.11-.11-.22-.11-.22-.33s.22-.22.33-.33c.33-.22.78-.22 1.2 0 .22.11.33.44.55.33.11 0 .33-.22.44-.44l.33-.33c.22-.22.22-.33 0-.44-.66-.55-1.43-.78-2.31-.66-1.09.12-1.98 1.01-1.98 1.99 0 1.09.55 1.76 1.87 1.98.33 0 .55 0 .89.11.22.11.44.11.44.44 0 .22-.22.33-.44.44-.44.11-.89 0-1.32-.11-.22-.11-.33-.44-.66-.33-.22.11-.33.44-.55.66l-.11.11c-.22.22-.11.33.11.55.66.44 1.32.66 2.2.66.22.11.44 0 .44-.11 1.09-.22 1.65-.98 1.65-1.87.01-1.11-.44-1.77-1.53-1.99zM35.92 12.14c-.11-.11-.11-.22-.11-.33-.11-.33-.22-.33-.55-.33-.55 0-.89-.22-.89-.78V8.29c0-.11 0-.22.22-.22s.55.11.66-.11c.11-.22 0-.55 0-.78v-.33c0-.11-.11-.22-.33-.22-.66-.11-.66-.11-.66-.78v-.2c0-.89 0-.89-.89-.78-.97.11-.97.11-.97 1v.44c0 .22-.11.33-.33.33-.66 0-.66 0-.66.66v.22c0 .55 0 .55.55.55.33 0 .44.11.44.44V9.7c0 .44 0 .78.22 1.2 0 1.54 1.32 2.31 2.76 2.09.76-.08.76-.19.54-.85z"/><path d="M1.71 7.19c-1.09 0-1.09 0-1.43 1.09-.55 1.87-.33 3.52.89 5.06 1.2-2.09 2.31-4.07 3.52-6.16H1.71v.01zM5.67 12.68h3.85c.22 0 .22-.11.33-.22.98-1.65.78-4.29-.55-5.83-1.1 1.98-2.3 3.85-3.63 6.05zM22.72 7.08c-1.2-.44-2.42-.33-3.41.55-1.32 1.09-1.43 3.3-.33 4.61 1.09 1.2 3.52 1.43 4.72.44.33-.22.33-.44 0-.66-.22-.11-.33-.33-.55-.55-.11-.11-.22-.11-.44 0-.44.22-.89.33-1.32.44-.55 0-1.09-.33-1.32-.78 0-.44 0-.55.33-.55h3.19c.89 0 .98 0 .89-.89-.11-1.17-.56-2.17-1.76-2.61zm-.22 2.2h-2.09c-.22 0-.22-.11-.22-.22.11-.11.11-.33.22-.44.33-.33.78-.55 1.32-.44.44.11.78.22.98.78.12.21.12.32-.21.32z"/></g></svg>
        </button>
        <x-drawer id="zest" class="drawer">
          <div>
            <h6 class="h6">Zest Money</h6>
            {% render 'emi-content' with 'zest' %}
          </div>
        </x-drawer>
      </div>

      <div>
        <button aria-controls="mobikwik" aria-expanded="false" class="mobikwik-button tw-group  tw-text-fg-primary hover:tw-text-fg-highlight-primary tw-no-underline tw-pb-2xs hover:tw-border-transparent ">
          <svg id="po-mobikwik" xmlns="http://www.w3.org/2000/svg" width="63.1" height="35" xml:space="preserve-mobikwik"><path fill="#7D7D7D" d="M17.3 16.2c0 .4.2.6.6.6.4 0 .7-.3.7-.6s-.3-.6-.6-.6c-.4-.1-.7.2-.7.6z"/><path fill="#7d7d7d" d="M47.8 21c.3-.9.5-1.7.8-2.5.1-.4.2-.8.4-1.2.1-.4.5-.6.9-.5.3.1.5.5.4.9-.5 1.6-1.1 3.1-1.7 4.7-.1.4-.4.6-.8.6s-.6-.2-.7-.6c-.4-1.1-.7-2.1-1.1-3.2 0-.1-.1-.2-.1-.4-.1.3-.2.5-.2.7-.3.9-.6 1.9-.9 2.8-.2.5-.4.7-.8.7s-.6-.2-.8-.6c-.5-1.5-1.1-3.1-1.6-4.6-.2-.5.2-1 .7-.9.3.1.5.3.6.6.3 1 .7 2.1 1 3.1 0 .1.1.2.1.4.1-.2.1-.3.2-.4.3-1 .7-2.1 1-3.1.2-.5.4-.6.8-.6s.6.2.8.6c.3 1 .7 2 1 3.1-.2 0-.1.1 0 .4zM38.5 18.3c.5.6.9 1.2 1.4 1.7.4.6.9 1.1 1.3 1.7.3.4.3.8 0 1-.3.3-.8.2-1-.2l-2.4-3c-.1-.1-.1-.1-.2-.3l-.7.7c-.5.3-.7.8-.6 1.4v.7c0 .5-.3.8-.7.8-.4 0-.7-.3-.7-.8v-6.5c0-.5.3-.8.6-.8.4 0 .7.3.8.8v3.3l.3-.3 3.4-3.4c.1-.1.3-.3.5-.3.3-.1.5 0 .7.3.1.2.1.6-.1.8-.7.7-1.5 1.4-2.2 2.1-.2.2-.3.2-.4.3zM26.5 17.8c0-.1.1-.2.1-.2 1-1.2 2.7-1.1 3.7-.1 1.3 1.2 1.2 3.7-.1 4.9-1 .8-2.6.9-3.5-.2l-.2-.2c0 .2-.1.3-.1.4-.1.3-.4.5-.7.4-.3 0-.5-.3-.6-.6v-7c0-.6.4-.8.8-.7.3.1.6.3.6.8v2.5zm3.6 2v-.3c0-.7-.5-1.3-1.2-1.6-.7-.2-1.4 0-1.8.5-.6.7-.7 1.8-.1 2.6s1.7 1 2.5.4c.5-.4.6-.9.6-1.6zM55.8 20.3l-.8.8c-.1.1-.1.2-.1.3v.8c0 .4-.3.7-.6.7-.4 0-.7-.3-.7-.7v-7c0-.4.2-.7.6-.8.5-.1.8.2.8.7v4.5c.2-.1.3-.2.3-.3.7-.7 1.5-1.4 2.2-2.1l.2-.2c.3-.2.7-.2.9 0 .2.2.2.6-.1.9-.5.4-.9.9-1.4 1.3-.2.2-.3.3-.1.6.5.7 1 1.3 1.6 2 .1.1.2.3.2.4.1.3-.1.5-.3.6-.3.1-.6.1-.8-.1-.3-.4-.7-.9-1-1.3-.3-.4-.6-.7-.9-1.1zM21 16.7c1.8 0 3.2 1.3 3.2 3.1 0 1.7-1.3 3.1-3.2 3.1-1.8 0-3.2-1.4-3.2-3.1 0-1.7 1.4-3.1 3.2-3.1zm1.9 3.2c0-1.1-.8-2-1.9-2-1.1 0-1.8.8-1.8 2 0 1.1.8 1.9 1.8 1.9 1.1 0 1.9-.8 1.9-1.9zM33.5 19.8v2.3c0 .5-.2.8-.7.8-.4 0-.7-.3-.7-.8v-4.5c0-.6.5-1 1-.7.3.1.4.4.4.7v2.2zM51 19.8v-2.3c0-.4.3-.7.7-.7.4 0 .7.3.7.7v4.7c0 .4-.3.7-.7.7-.4 0-.6-.3-.6-.7-.1-.8-.1-1.6-.1-2.4zM51.7 15.9c-.5 0-.8-.3-.8-.7 0-.4.3-.7.8-.7s.7.3.7.7c0 .5-.3.7-.7.7zM32.8 15.9c-.5 0-.8-.2-.8-.7 0-.4.3-.7.7-.7.5 0 .8.3.8.7.1.5-.2.7-.7.7zM60.2 16.9c0 .3-.1.5-.1.7H60c0-.4 0-.8-.1-1.1h.3c.1.1.2.3.4.5.1-.2.2-.3.3-.5 0-.1.1-.1.2-.1s.1.1.1.2v.8c0 .1-.1.1-.1.2 0-.1-.1-.1-.1-.2v-.5l-.4.4-.4-.4zM58.5 16.5c.3-.3 1-.3 1.2 0-.6 0-.4.4-.4.8 0 .1 0 .2-.1.3h-.1c0-.1-.1-.1-.1-.2v-.3c0-.3.1-.7-.5-.6z"/><path fill="none" d="m15.6 12.6-.9 9.6c.5 0 .6 0 .7-.5 0-.2.1-.4.1-.6.1-1.1.2-2.2.4-3.3.1-.9.2-1.9.3-2.8.1-.6.1-1.2.2-1.8-.2-.3-.4-.5-.8-.6z"/><path fill="none" d="m15.6 12.6-.9 9.6c.5 0 .6 0 .7-.5 0-.2.1-.4.1-.6.1-1.1.2-2.2.4-3.3.1-.9.2-1.9.3-2.8.1-.6.1-1.2.2-1.8-.2-.3-.4-.5-.8-.6z"/><path fill="#7D7D7D" d="M17.9 16.8c-.4 0-.6-.3-.6-.6 0-.4.3-.6.6-.6s.6.3.6.6c.1.3-.2.6-.6.6z"/><path fill="none" d="M17.7 16.1c0 .1.2.2.3.3.1-.1.3-.2.3-.3 0-.1-.1-.3-.3-.5-.2.3-.3.4-.3.5zM15.6 12.6l-.9 9.6c.5 0 .6 0 .7-.5 0-.2.1-.4.1-.6.1-1.1.2-2.2.4-3.3.1-.9.2-1.9.3-2.8.1-.6.1-1.2.2-1.8-.2-.3-.4-.5-.8-.6z"/><path fill="#7D7D7D" d="M17.7 16.1c0 .1.2.2.3.3.1-.1.3-.2.3-.3 0-.1-.1-.3-.3-.5-.2.3-.3.4-.3.5z"/><path fill="#7d7d7d" d="M18.3 15.1c-.3 0-.5.1-.8.2h-.6V15c.1-.6.1-1.2.1-1.8 0-.5-.2-.8-.7-.8h-.7c0-.1 0-.2-.1-.4 0-.3-.2-.4-.5-.4h-.3c-1.6.3-3.2.6-4.8.8-.4.1-.4.2-.4.5-.1 1.8.2 3.7-.2 5.6.3-.5.5-.9.7-1.3.6-1.1 1.2-2.3 1.8-3.4.2-.4.5-.6.9-.6.5 0 .8.4.8 1V21c-.1.5-.6.8-1.1.6-.4-.1-.6-.4-.6-.8v-3.4c-.1.2-.1.3-.2.3-.6 1.1-1.2 2.3-1.8 3.4-.1.2-.3.5-.5.7-.2.3-.6.3-.9.2-.4-.1-.6-.4-.6-.9v-5.7c-.1.1-.2.2-.2.3-1.2 2.2-2.3 4.5-3.5 6.7-.1.4-.2.6-.5.6s-.6-.1-.8-.4c-.2-.3-.2-.6 0-.9 1.8-3.2 3.5-6.5 5.3-9.7.3-.6.6-.7 1.3-.5-.6-.5-1.1-.4-1.4.2-.2.3-.4.7-.5 1-.1.2-.3.3-.5.3s-.4 0-.6.1c-1.2.2-2.3.4-3.5.5-.5.1-.7.4-.7.9V23c0 .6.2.8.8.8h10.7c.3 0 .6-.1.7-.4.1-.3.3-.4.6-.4h.2c.5 0 .6-.1.7-.5l.3-2.4c.1-.7.1-1.4.2-2.1 0-.2.1-.3.3-.3.4-.1.9-.2 1.3-.4 1-.4.9-.7.9-1.6.2-.5-.1-.7-.6-.6zm-2.3 0c-.1.9-.2 1.9-.3 2.8-.1 1.1-.2 2.2-.4 3.3 0 .2 0 .4-.1.6-.1.4-.1.5-.7.5l.9-9.6c.4.1.6.3.6.7.2.5.1 1.1 0 1.7zm1.9 1.7c-.4 0-.6-.3-.6-.6 0-.4.3-.6.6-.6s.6.3.6.6c.1.3-.2.6-.6.6z"/><path fill="#FFF" d="M18 15.6c-.4 0-.6.3-.6.6 0 .4.2.6.6.6.4 0 .7-.3.7-.6-.1-.3-.4-.6-.7-.6zm-.1.9c-.1-.1-.3-.2-.3-.3 0-.1.2-.2.3-.4.1.2.3.3.3.5 0 0-.2.1-.3.2z"/><path fill="#7d7d7d" d="M17.7 16.1c0 .1.2.2.3.3.1-.1.3-.2.3-.3 0-.1-.1-.3-.3-.5-.2.3-.3.4-.3.5z"/></svg>
        </button>
        <x-drawer id="mobikwik" class="drawer">
          <div>
            <h6 class="h6">MobiKwik</h6>
            {% render 'emi-content' with 'mobikwik' %}
          </div>
        </x-drawer>
      </div>
    </div>
  {%- endif -%}
</div>