{% if product.tags contains 'freebie-adapter' %}
  <p>Free Venture Electronics - 4.4mm Female - 4 PIN XLR Adapter with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Venture-Electronics-4.4-4PIN-XLR-01_700x.jpg?v=1655193767"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a href="https://www.headphonezone.in/products/venture-electronics-adapter-cables?variant=41788024815804"
            class="text-sm bold" target="_blank" >
            <span class="reversed-link hover:show"> Venture Electronics - 4.4mm Female - 4 PIN XLR Adapter</span>
          </a>
          <p class="text-sm text-subdued">Upgrade Cable</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 2,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}


{% if product.tags contains 'freebie-fiio-ka13' %}
  <p>Free FiiO KA13 with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img src="https://www.headphonezone.in/cdn/shop/files/Headphone-Zone-FiiO-KA13-1-BLACK.jpg?v=1700724558&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/fiio-ka13"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show"> FiiO - KA13</span>
          </a>
          <p class="text-sm text-subdued">Portable USB DAC & Amp</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 8,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}




{% if product.tags contains 'Free-cable-meze-mono' %}
  <p>Free Meze - Mono 3.5mm to 4.4mm Silver-Plated Cables with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Meze---Mono-3.5mm-to-4.4mm-Silver-Plated-PCUHD-Premium-Cables_600x.jpg?v=1665490414"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a href="https://www.headphonezone.in/products/meze-mono-3-5mm-to-4-4mm-silver-plated-pcuhd-premium-cables" class="text-sm bold" target="_blank">
            <span class="reversed-link hover:show">Meze - Mono 3.5mm to 4.4mm Silver-Plated PCUHD Premium Cables</span>
          </a>
          <p class="text-sm text-subdued">Dual 3.5mm to 4.4mm Balanced Cable</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 41,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  
{% endif %}



{% if product.tags contains 'Free-hpz-tan-case' %}
  <p>Free Headphone Zone X ddHiFi - Tan IEM / Earphone Case with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/files/Headphone-Zone-ddHiFi-Brown-Case-07.jpg?v=1702557769&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/headphone-zone-x-ddhifi-tan-iem-earphone-case"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">Headphone Zone X ddHiFi - Tan IEM / Earphone Case</span>
          </a>
          <p class="text-sm text-subdued">Fingerprint & Scratch Resistant Case</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  
{% endif %}

{% if product.tags contains 'Free-silver-cable-meze' %}
  <p>Free Meze MMCX to 4.4mm Balanced Silver Plated Upgrade Cable with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/meze-rai-penta-4-4mm-balanced-silver-plated-upgrade-cable-headphone-zone-5240298963007.jpg?v=1579895295&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/meze-mmcx-to-4-4mm-balanced-silver-plated-upgrade-cable"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">Meze - MMCX to 4.4mm Balanced Silver Plated Upgrade Cable</span>
          </a>
          <p class="text-sm text-subdued">MMCX to 4.4mm Balanced Upgrade Cable</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 11,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}



{% if product.tags contains 'Free-Dreadnought-Stand-HiFiMAN-Case' %}
  <p>Free Headphone Zone Stand + HiFiMAN Travel Case with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://cdn.shopify.com/s/files/1/0153/8863/files/Headphone-Zone-Freebie-Image.jpg?v=1707132391"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
         
            <span class="reversed-link">Headphone Zone Dreadnought Stand + HiFiMAN Travel Case</span>
      
          <p class="text-sm text-subdued">Handcrafted Wooden Headphone Stand + Shock & Dust Resistant Protective Hard Case</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 8,998</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}





{% if product.tags contains 'Free-Carrying-Case-Charcoal-V2' %}
  <p>Free Dekoni Audio - Universal Headphone Carrying Case Charcoal V2 with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Dekoni-Audio-Universal-Headphone-Carrying-Case-Charcoal-V2-03.jpg?v=1648197357&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/dekoni-audio-universal-headphone-carrying-case-charcoal-v2"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">Dekoni Audio - Universal Headphone Carrying Case Charcoal V2</span>
          </a>
          <p class="text-sm text-subdued">Softshell Headphone Case</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 4,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}


{% if product.tags contains 'Free-venture-electronics-adapter' %}
  <p>Free Venture Electronics - Adapter - 2.5mm TRRS Female - 4.4TRRRS with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Venture-Electronics-3.5TRRS-4.4-01_300x.jpg?v=1654584503"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/venture-electronics-adapter-cables?_pos=1&_psq=venture+adapter&_ss=e&_v=1.0&variant=41788024389820"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">Venture Electronics - Adapter - 2.5mm TRRS Female - 4.4TRRRS</span>
          </a>
          <p class="text-sm text-subdued">Upgrade Cable</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 1,499</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}

{% if product.tags contains 'Free-HiFiMAN-Travel-Case' %}
  <p>Free HiFiMAN - Headphone Travel Case with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-HiFiMAN---Headphone-Travel-Case.jpg?v=1600941053&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/hifiman-headphone-travel-case"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">HiFiMAN - Headphone Travel Case </span>
          </a>
          <p class="text-sm text-subdued">Shock & Dust Resistant Protective Hard Case</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 3,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}




{% if product.tags contains 'free-LT-LT1' %}
  <p>Free FiiO - LT-LT1 with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-FiiO-LT-LT1-1_300x.jpg?v=1624599079&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a href="https://www.headphonezone.in/products/fiio-lt-lt1" class="text-sm bold" target="_blank">
            <span class="reversed-link hover:show">FiiO - LT-LT1</span>
          </a>
          <p class="text-sm text-subdued">OTG Cable</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 1,399</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}







{% if product.tags contains 'free-slim-stand' %}
  <p>Free Headphone Zone - SLIM Headphone Stand with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-SLIM-Headphone-Stand-5_300x.jpg?v=1666359363"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a href="https://www.headphonezone.in/products/headphone-zone-slim-headphone-stand" class="text-sm bold" target="_blank">
            <span class="reversed-link hover:show">Headphone Zone - SLIM Headphone Stand</span>
          </a>
          <p class="text-sm text-subdued">Handcrafted Wooden Headphone Stand</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 2,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}


{% if product.tags contains 'free-hifiman-case' %}
  <p>Free HiFiMAN - Headphone Travel Case with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-HiFiMAN---Headphone-Travel-Case_300x.jpg?v=1600941053"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a href="https://www.headphonezone.in/products/hifiman-headphone-travel-case" class="text-sm bold" target="_blank">
            <span class="reversed-link hover:show">HiFiMAN - Headphone Travel Case</span>
          </a>
          <p class="text-sm text-subdued">Shock & Dust Resistant</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 3,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}

{% if product.tags contains 'free-zombur-mmcx-cable' %}
  <p>Free Tripowin - Zombur with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Tripowin-Zombur-06_300x.jpg?v=1673440968"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/tripowin-zombur?_pos=1&_psq=zomb&_ss=e&_v=1.0&variant=42454104178876"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">Tripowin - Zombur</span>
          </a>
          <p class="text-sm text-subdued">Upgrade Cable</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}

{% if product.tags contains 'free-qutest-stand' %}
  <p>Free Chord Qutest System Stand with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Chord-Qutest-Stand-5_700x.jpg?v=1639040104"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a href="https://www.headphonezone.in/products/chord-qutest-system-stand" class="text-sm bold" target="_blank">
            <span class="reversed-link hover:show"> Chord Qutest System Stand</span>
          </a>
          <p class="text-sm text-subdued">Modular Stacking Stand</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 23,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  
{% endif %}

{% if product.tags contains 'free-reference-stand' %}
  <p>Free Burson Audio - Reference Series Cool Stand with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Burson-Audio-Cool-Stands-01_8393c864-66f5-4979-98c5-5622e8fd8352.jpg?v=1654857381&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/burson-audio-cool-stand?variant=41797023465660"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">Burson Audio - Cool Stand</span>
          </a>
          <p class="text-sm text-subdued">Bespoke Stand</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 13,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  
{% endif %}

{% if product.tags contains 'free-performance-stand' %}
  <p>Free Burson Audio - Performance Series Cool Stand with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Burson-Audio-Cool-Stands-01.jpg?v=1654857381&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/burson-audio-cool-stand"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">Burson Audio - Cool Stand</span>
          </a>
          <p class="text-sm text-subdued">Bespoke Stand</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 13,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  
{% endif %}



{% if product.tags contains 'free-gt-stand' %}
  <p>Free Burson Audio - Performance Series Cool Stand with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Burson-Audio-Cool-Stand-Red-GT.jpg?v=1654863013&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/burson-audio-cool-stand?variant=41797023498428"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">Burson Audio - Cool Stand</span>
          </a>
          <p class="text-sm text-subdued">Bespoke Stand</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 13,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  
{% endif %}



{% if product.tags contains 'free-helix-stand' %}
  <p>Free Headphone Zone - Helix Headphone Stand with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/headphone-zone-omega-se-handcrafted-wooden-headphone-stand-walnut-headphone-zone-30074040583.jpg?v=1580136811&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/headphone-zone-helix-headphone-stand"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">Headphone Zone - Helix Headphone Stand</span>
          </a>
          <p class="text-sm text-subdued">Handcrafted Wooden Headphone Stand</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 2,499</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  
{% endif %}

{% if product.tags contains 'free-granvia-cable' %}
  <p>Free Tripowin GranVia HD600 Series with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Tripowin-Granvia-HD-6XX-Cable-5.jpg?v=1684735737&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/tripowin-granvia-hd600-series"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show">Tripowin - GranVia HD600 Series</span>
          </a>
          <p class="text-sm text-subdued">OFC Cable For Sennheiser HD-600 Series</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 5,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}


{% if product.tags contains 'freebie-adapter-4.4-2.5' %}
  <p>Free Venture Electronics - 4.4mm Female - 2.5TRRS Adapter with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-venture-Elctronics-4.4-2.5TRRS.jpg?v=1655193767&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a
            href="https://www.headphonezone.in/products/venture-electronics-adapter-cables?_pos=1&_psq=venture+adap&_ss=e&_v=1.0&variant=41788024783036"
            class="text-sm bold" target="_blank"
          >
            <span class="reversed-link hover:show"> Venture Electronics - 4.4mm Female - 2.5TRRS Adapter</span>
          </a>
          <p class="text-sm text-subdued">Upgrade Adapter Cable</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 1,499</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}



{% if product.tags contains 'freebie-granvia-4-4mm' %}
  <p>Free Tripowin GranVia Dual 3.5mm - 4.4mm Balanced Cable with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/products/Headphone-Zone-Tripowin-GranVia-1.jpg?v=1658830419&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a href="https://www.headphonezone.in/products/tripowin-granvia?variant=41928161689788" class="text-sm bold" target="_blank">
            <span class="reversed-link hover:show"> Tripowin GranVia Dual 3.5mm - 4.4mm Balanced Cable</span>
          </a>
          <p class="text-sm text-subdued">OFC Hand-Braided Cable For Headphones</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 5,999</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}


{% if product.tags contains 'free-Colibri-Case' %}
  <p>Free EarMen - Colibri Leather Case with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
        src="https://www.headphonezone.in/cdn/shop/files/Headphone-Zone-EarMen-Colibri-leather-Case-03.jpg?v=1688390002&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a href="https://www.headphonezone.in/products/earmen-colibri-leather-case" class="text-sm bold" target="_blank">
            <span class="reversed-link hover:show">EarMen - Colibri Leather Case</span>
          </a>
          <p class="text-sm text-subdued">Bespoke Protective Case</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 3,499</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}


{% if product.tags contains 'free-Headphone-Zone-x-KZ-FreeFall-Case' %}
    <p style="color:#3607ff; font-size:14px!important;">Free Headphone Zone x KZ FreeFall Case with this purchase</p>
  <div class="horizontal-product-list divide-x" style="background-color: #f4f4f4; border-radius: 8px;">
    <div class="horizontal-product rounded-xs snap-start">
      <img
               src="https://www.headphonezone.in/cdn/shop/files/Headphone-Zone-x-KZ-FreeFall-Case-90.jpg?v=1754377946&width=600"
        width="1160"
        height="1160"
        loading="eager"
        sizes="(max-width: 740px) 64px, 80px"
        class="horizontal-product__image rounded-xs"
      >
      <div class="horizontal-product__info">
        <div class="v-stack gap-0.5">
          <a href="https://www.headphonezone.in/products/headphone-zone-x-kz-freefall-case"
            class="text-sm bold" target="_blank" >
            <span class="reversed-link hover:show">Headphone Zone x KZ FreeFall Case </span>
          </a>
          <p class="text-sm text-subdued">Protective Case For IEMs & Dongle DACs</p>
          <p class="text-sm text-subdued">
            <span class="freebie-blue">FREE! </span>
            <span class="line-through">₹ 199</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
{% endif %}
